@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";

/* For all sections like education, skills, services, career goals, and contact */
#education,
#skills,
#services,
#career-goals,
#contact {
  font-size: 1rem; /* Larger text for better visibility */
  line-height: 1.6; /* Adjust line height for better readability */
  text-align: start;
}

/* For list items inside those sections */
#education ul li,
#skills ul li,
#services ul li {
  font-size: 2rem; /* Larger font size for list items */
  list-style-type: none;
  text-align: start;
}

/* For titles within these sections */
#education h3,
#skills h3,
#services h3,
#career-goals h3,
#contact h3 {
  font-size: 2rem; /* Make section titles more prominent */
  margin-bottom: 1rem; /* Add space below section titles */
}
